<div class="container">
  <div class="row">
    <formulario (productoCreado)="onProductoCreado($event)"></formulario>
  </div> 
  <div class="row listas">
    <div class="izquierda">
      <lista-productos [productos]="productosSeleccionado"(productoSeleccionado)="onProdcutoSeleccionado($event)"></lista-productos>
    </div>
    <div class="derecha">
      <lista-productos [productos]="productosComprados" (productoSeleccionado)="onProductoNoSeleccionado($event)"></lista-productos>
    </div>
    

  </div>
</div>